* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  color: #222328;
}

main {
  margin: 0 auto;
  width: 1200px;
  /* border: 1px solid #aa0000; */
}

a {
  text-decoration: none;
  /* display:block; */
}

header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid #333333; */
  background: #8f2828;
}

.logo {
  /* background: white; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
}

.logo>img {
  width: 200px;
  height: 40px;
}

.menu {
  width: 800px;
  height: 100px;
  /* overflow: hidden; */
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  background: #8d0af9;
  position: relative;
  top: 0px;
  left: 0;
}

.mMain {
  width: 100%;
  height: 100%;
  background: #706060;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
}

.mMain>li {
  width: 25%;
  padding: 20px 0;
  text-align: center;
}

.mMain>li>a {
  color: #fcfcfc;
}

.mMain>li:hover {
  width: 25%;
  padding: 20px 0;
  background: #8d0af9;
}

.mSub {
  background: #ddd;
  position: absolute;
  width: 800px;
  top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.mSub>ul {
  width: 25%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;

}

.mSub>ul>li {
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

.mSub>ul>li:hover {
  padding: 20px 0;
  background: rgb(194, 254, 91);
}

.slide {
  width: 100%;
  height: 300px;
  background: #aaa;
  /* display: flex; */
  position: relative;
  padding: 0;
  margin: 0;
}

.slide>a {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.slide>a>span {
  position: absolute;
  top: 40%;
  left: 40%;
  font-weight: 400;
  font-size: 2em;
}

.contents {
  width: 100%;
  height: 200px;
  background: #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c1c2 {
  width: 34%;
  height: 200px;
  position: relative;
  background: rgb(255, 255, 255);
}

.c1c2 h3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 30px;
  line-height: 30px;
  background: #ccc;
  color: #fff;
  text-align: center;
}

.c1c2 h3.hGal {
  left: 100px;
}

.c1c2 h3.on {
  background: rgb(107, 5, 5);
}

.c1c2>ul {
  position: absolute;
  top: 30px;
  left: 0;
  display: none;
}

.c1c2>ul.on {
  display: block;
}

.c1c2>.notice {
  width: 100%;
}

.c1c2 .notice li {
  width: 100%;
  height: 42px;
  line-height: 42px;
  position: relative;
}

.c1c2 .notice li a {
  width: 100%;
  height: 100%;
  display: block;
}

.c1c2 .notice li a span {
  position: absolute;
  top: 0;
  right: 10px;
}

.c1c2 .notice li a:hover {
  background: #ccc;
}

.gallery {
  width: 100%;
}

.gallery li {
  width: 33.3%;
  float: left;
  margin-top: 20px;
  text-align: center;
  background: #35c4fc;
  padding: 10px;
}

.banner {
  width: 33%;
}

.direct {
  width: 33%
}

.direct img {
  width: 100%;
}

footer {
  width: 100%;
  height: 100px;
  background: #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .flogo {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .copyright {
  width: 60%;
  text-align: center;
  font-size: 1.2em;
}

footer .sns {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#modalWrap {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

#modalWrap.active {
  display: block;
}

.modal {
  position: fixed;
  width: 350px;
  padding: 20px;
  left: 40%;
  top: 40%;
  background: #fff;
}

.modal>h1 {
  margin: 10px 0;
  text-align: center;
}

.modal>p {
  text-align: justify;
}

.btn {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background: #00C73C;
  color: #ffffff;
  border: 0;
  font-weight: bold;
}